
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the component */

.dashboard-banner{
  background: linear-gradient(90deg, rgba(111, 27, 197, 0.05) 100%, rgba(164, 98, 233, 0.9) 90%);

  position: sticky;
}

.box{
  font-family: 'sm';
  font-size: 12px;
  border: 1px solid rgba(144, 82, 208, 0.2);
}