
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the component */

.dashboard-banner{
  background-color: #e8dbf5;
  top: 85px;
  z-index: 8;
}

.box{
  font-family: 'sm';
  font-size: 12px;
  border: 1px solid rgba(144, 82, 208, 0.2);
}

.loadmore {
  border: 2px solid #7B30C8;
  color: #7B30C8;
  border-radius: 0;
  display: block;
  background: linear-gradient(to right, #7B30C8 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s ease-out;
  outline: none;
}

.loadmore:hover {
  background-position: left bottom;
  border: 2px solid #7B30C8;
  color: white;
}

.loadmore:focus {
  /* Other button focus styles */
  outline: none;
}
.dashboardbanner{
  top: 0px;
  height: 100px;


}

