
body{
    font-family: "sb";
   
}
.nav-link{
    font-size: 12px;
    color: black;

}
.sticky{
    position: fixed;
    top: 0;
}
.dashside {
  animation: slideInFromLeft 0.5s ease;
}
.pointer{
    cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.active{
  background: linear-gradient(90deg, rgba(111, 27, 197, 0.88) 0%, rgba(164, 98, 233, 0.81) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'sb';
}

  
  @font-face {
    font-family: 'sl';
    src: url('../public/fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  .sl{
    font-family: 'sl';
  }
  
  @font-face {
    font-family: 'sli';
    src: url('../public/fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'sr';
    src: url('../public/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  .sr{
    font-family: 'sr';
  }
  
  
  @font-face {
    font-family: 'si';
    src: url('../public/fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'sm';
    src: url('../public/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  .sm{
    font-family: 'sm';
  }
  
  
  @font-face {
    font-family: 'smi';
    src: url('../public/fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'sb';
    src: url('../public/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'sbi';
    src: url('../public/fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'sB';
    src: url('../public/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'SBI';
    src: url('../public/fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }